// Base: contained within this file are all your resets, variables, mixins, and any utility classes.
$white: rgba(255, 255, 255, 1);
$yellow: rgba(252, 219, 0, 1);
$grey-light: rgba(137, 137, 137, 1);
$grey-medium: rgba(85, 85, 85, 1);
$grey-dark: rgba(49, 56, 65, 1);
$black: rgba(1, 1, 1, 1);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "PT Sans", sans-serif;
}

h1 {
  color: $black;
}

p {
  color: $grey-medium;
}

a {
  text-decoration: none;
  color: inherit;
  :hover {
    text-decoration: underline;
  }
}
