// Base: contained within this file are all your resets, variables, mixins, and any utility classes.
$white: rgba(255, 255, 255, 1);
$yellow: rgba(253, 219, 0, 1);
$grey-white: rgb(160, 165, 154);
$grey: rgba(116, 116, 110, 1);
$black: rgba(1, 1, 1, 1);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "PT Sans", sans-serif;
}

h1 {
  color: $black;
}

p {
  color: $grey;
}

a {
  text-decoration: none;
  color: inherit;
  :hover {
    text-decoration: underline;
  }
}
