.blog-background {
  background-color: $yellow;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo-img {
  margin: 5px 5px 0px 5px;
}

.header-menu {
  margin: 5px 5px 0px 0px;
}

.blog-carousel-container {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba($white, 0.7);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  &:hover {
    background-color: $white;
  }
}
