.features-background {
  background-color: $white;
  padding: 0rem 4rem 0rem 4rem;
}

// HEADER LAYOUT
.features-header {
  text-align: center;
  margin: 3rem 1rem 2rem 1rem;
}

.features-header-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.features-header-subtitle {
  text-align: center;
  color: $grey-dark;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}

// CARDS LAYOUT
.features-cards-container {
  margin: 2rem 1rem 3rem 1rem;
}

.features-cards-card {
  display: flex;
  margin-bottom: 2rem;
}

.features-cards-img-container {
  margin-right: 0.8rem;
}

.features-cards-img {
  width: 5rem;
  text-align: center;
  padding-top: 0.2rem;
}

.features-cards-img--img {
  width: 35px;
}

.features-cards-content-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.features-cards-content-paragraph {
  color: $grey-light;
  font-size: 1.3rem;
}
