@media only screen and (min-width: 355px) {
  // FOOTER LAYOUT
  .support-footer-container {
    flex-wrap: nowrap;
    margin: 0rem 1rem 0rem 1rem;
  }

  .support-footer-menu {
    section {
      margin: 0rem 0.5rem 0.5rem 1rem;
    }
  }
}

@media only screen and (min-width: 640px) {
  // BLOG COMPONENT
  // HEADER LAYOUT
  .header-container {
    padding-top: 4rem;
    margin: 0rem 3rem 4rem 3rem;
  }

  .header-logo {
    margin: 0rem;
  }

  .header-menu {
    display: flex;
    flex-direction: row;
    margin: 0rem;
  }

  .header-menu-h4 {
    margin: 1.1rem;
    font-size: 2rem;
  }

  // ARTICLE TABLET CONTAINER
  .article-tablet-container {
    margin: 0rem 3rem 2rem 3rem;
    display: flex;
  }

  .blog-article-container {
    margin: 0rem 7rem 0rem 0rem;
  }

  .blog-article-icons--container {
    margin-top: 3rem;
    text-align: left;
    .blog-article-icons--img {
      margin-right: 2rem;
    }
  }

  .blog-tablet-container {
    margin: 0rem;
    img {
      width: 24rem;
    }
  }

  // FEATURES COMPONENTS
  //HEADER LAYOUT
  .features-header {
    margin: 6rem 3rem 6rem 3rem;
  }

  // CARDS LAYOUT
  .features-cards-container {
    margin: 0rem 3rem 3rem 7rem;
    display: flex;
    flex-flow: row wrap;
    .features-cards-content {
      margin-right: 4rem;
    }
  }

  .features-cards-img--img {
    width: 40px;
  }

  .features-cards-card {
    flex-basis: 50%;
    margin: 0rem 0rem 2rem 0rem;
  }

  // SUPPORT COMPONENTS
  // HEADER LAYOUT
  .support-header-container {
    margin: 0rem 10rem 3rem 10rem;
    padding-top: 6rem;
  }

  // INPUT LAYOUT
  .email-input {
    font-size: 1.4rem;
    padding: 1.3rem 6rem 1.3rem 6rem;
    margin-right: 2rem;
  }

  .submit-button {
    font-size: 1.2rem;
    padding: 1.5rem 2.5rem 1.3rem 2.5rem;
  }

  // ICONS LAYOUT
  .support-icons-img {
    margin: 4rem 1.5rem 4rem 1.5rem;
  }

  // FOOTER LAYOUT
  .support-footer-container {
    font-size: 1.2rem;
    margin: 0rem 3rem 0rem 3rem;
    padding-top: 4rem;
  }

  .support-footer-menu {
    section {
      margin: 0rem 3rem 0rem 3rem;
    }
  }
}
