@media only screen and (min-width: 355px) {
  // FOOTER LAYOUT
  .support-footer-container {
    flex-wrap: nowrap;
    margin: 0rem 1rem 0rem 1rem;
  }

  .support-footer-menu {
    section {
      margin: 0rem 0.5rem 0.5rem 1rem;
    }
  }
}

@media only screen and (min-width: 640px) {
  // BLOG COMPONENT
  // HEADER LAYOUT
  .header-container {
    padding-top: 4rem;
    margin: 0rem 3rem 4rem 3rem;
  }

  .header-logo {
    margin: 0rem;
  }

  .header-menu {
    display: flex;
    flex-direction: row;
    margin: 0rem;
  }

  .header-menu-h4 {
    margin: 1.1rem;
    font-size: 2rem;
  }

  // ARTICLE TABLET LAYOT
  .article-tablet-container {
    margin: 0rem 3rem 2rem 3rem;
    display: flex;
  }

  .blog-article-container {
    margin: 0rem 7rem 0rem 0rem;
  }

  .blog-article-icons--container {
    margin-top: 3rem;
    text-align: left;
    .blog-article-icons--img {
      margin-right: 2rem;
    }
  }

  .blog-tablet-container {
    margin: 0rem;
    img {
      width: 24rem;
    }
  }

  // FEATURES COMPONENTS
  //HEADER LAYOUT
  .features-header {
    margin: 6rem 3rem 6rem 3rem;
  }

  // CARDS LAYOUT
  .features-cards-container {
    margin: 0rem 3rem 3rem 7rem;
    display: flex;
    flex-flow: row wrap;
    .features-cards-content {
      margin-right: 4rem;
    }
  }

  .features-cards-img--img {
    width: 40px;
  }

  .features-cards-card {
    flex-basis: 50%;
    margin: 0rem 0rem 2rem 0rem;
  }

  // SUPPORT COMPONENTS
  // HEADER LAYOUT
  .support-header-container {
    margin: 0rem 10rem 3rem 10rem;
    padding-top: 6rem;
  }

  // INPUT LAYOUT
  .email-input {
    font-size: 1.4rem;
    width: 30rem;
    padding: 1.3rem 1rem 1.3rem 1rem;
    margin-right: 2rem;
  }

  .submit-button {
    font-size: 1.2rem;
    padding: 1.5rem 2.5rem 1.3rem 2.5rem;
  }

  // ICONS LAYOUT
  .support-icons-img {
    margin: 0rem 1.5rem 0rem 1.5rem;
  }

  // FOOTER LAYOUT
  .support-footer-container {
    font-size: 1.2rem;
    margin: 0rem 3rem 0rem 3rem;
    padding-top: 4rem;
  }

  .support-footer-menu {
    section {
      margin: 0rem 3rem 0rem 3rem;
    }
  }
}

@media only screen and (min-width: 1000px) {
  // BLOG COMPONENT
  .blog-background {
    padding: 2rem 10rem 2rem 10rem;
  }
  // HEADER LAYOUT

  .header-container {
    .header-logo-img {
      margin-right: 1rem;
    }
    h1 {
      font-size: 2.6rem;
    }
    h4 {
      font-size: 2.2rem;
      margin: 1.2rem 3rem 1.2rem 3rem;
    }
  }

  // ARTICLE TABLET LAYOUT
  .blog-article-container {
    margin: 8rem 12rem 0rem 0rem;
    h2 {
      font-size: 2.8rem;
      line-height: 2.5rem;
      margin-bottom: 2rem;
    }
    h5 {
      font-size: 2rem;
      line-height: 1.8rem;
      font-weight: 300;
      margin-bottom: 2rem;
    }
    p {
      line-height: 1.8rem;
      font-weight: 200;
      line-height: 1.6rem;
    }
    .blog-article-icons--container {
      margin-top: 3.5rem;
    }
    .blog-article-icons--img {
      width: 3.5rem;
      margin-right: 3rem;
    }
  }

  .blog-tablet-container {
    margin: 0rem 3.1rem;
    img {
      width: 32rem;
    }
  }

  // FEATURES COMPONENT
  .features-background {
    padding: 2rem 10rem 12rem 10rem;
  }
  // HEADER LAYOUT
  .features-header {
    margin: 6rem 3rem 10rem 3rem;
    h1 {
      font-size: 2.8rem;
    }
    h3 {
      font-size: 2rem;
      line-height: 2.3rem;
      font-weight: 100;
    }
  }

  // CARDS LAYOUT
  .features-cards-container {
    margin: 0rem 0rem 0rem 7rem;
  }

  .features-cards-card {
    flex-basis: 30%;
    .features-cards-img-container {
      margin-right: 2rem;
    }
    h2 {
      font-size: 2.2rem;
      font-weight: 400;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .features-cards-content {
    h2 {
      margin-bottom: 1rem;
    }
  }

  // SUPPORT COMPONENT
  .support-background {
    padding: 2rem 10rem 12rem 10rem;
  }
  // HEADER LAYOUT
  .support-header-container {
    h1 {
      font-size: 2.8rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
    h3 {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 400;
    }
  }

  .email-input {
    width: 55rem;
  }

  .submit-button {
    padding: 1.5rem 2.8rem 1.3rem 2.8rem;
  }

  .support-icons-container {
    margin: 6rem 0rem 6rem 0rem;
  }

  .support-icons-img {
    width: 3rem;
  }

  // FOOTER LAYOUT
  .support-footer-container {
    font-size: 1.4rem;
  }
}
