*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

h1 {
  color: #010101; }

p {
  color: #b7b7a4; }

.blog-background {
  background-color: #fddb00; }

.blog-carousel-container {
  text-align: center; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  .dot:hover {
    background-color: white; }

.features-background {
  background-color: white; }

.features-header {
  text-align: center;
  margin: 1rem; }

.features-cards-container {
  display: flex;
  margin: 1rem; }

.features-cards-img {
  width: 12rem; }

.support-background {
  background-color: #010101; }

.support-header-container {
  text-align: center; }

.support-header-title {
  color: #fddb00; }

.support-header-h3 {
  color: #b7b7a4;
  opacity: 0.5; }

.input-container {
  text-align: center; }

.email-input {
  margin-right: 5px; }

.submit-button {
  border: none;
  font-weight: 600;
  padding: 1px 5px 1px 5px;
  background-color: #fddb00; }

.support-icons-container {
  text-align: center; }

.support-icons-img {
  margin: 2rem 0.5rem 2rem 0.5rem; }

.support-footer-container {
  display: flex;
  margin: 3px; }

.support-footer-section {
  margin: 3px; }
