*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "PT Sans", sans-serif; }

h1 {
  color: #010101; }

p {
  color: #74746e; }

.blog-background {
  background-color: #fddb00; }

.header-container {
  display: flex;
  justify-content: space-between; }

.header-logo {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin: 1rem 0.5rem 0rem 0.8rem; }

.header-logo-img {
  text-align: center;
  margin-right: 0.8rem; }

.header-menu {
  margin: 1rem 1rem 0px 0px; }

.header-menu-h4 {
  font-size: 1.5rem; }

.blog-article-container {
  margin: 1rem; }

.blog-article-title {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem; }

.blog-article-subtitle {
  text-align: left;
  color: #74746e;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 1rem; }

.blog-article-paragraph {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.4rem; }

.blog-article-icons--container {
  text-align: right;
  margin: 1.5rem 0rem 2rem 0rem; }
  .blog-article-icons--container :not(:last-child) {
    margin-right: 1rem; }

.blog-article-icons--img {
  width: 28px; }

.blog-tablet-container {
  text-align: center;
  margin-bottom: 1rem; }

.blog-tablet-img {
  width: 27.5rem; }

.blog-carousel-container {
  text-align: center;
  padding-bottom: 2rem; }

.blog-carousel-dot {
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 0.2rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  .blog-carousel-dot:hover {
    background-color: white; }

.features-background {
  background-color: white; }

.features-header {
  text-align: center;
  margin: 3rem 1rem 2rem 1rem; }

.features-header-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem; }

.features-header-subtitle {
  text-align: center;
  color: #74746e;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5rem; }

.features-cards-container {
  margin: 1rem 1rem 3rem 1rem; }

.features-cards-card {
  display: flex;
  margin-bottom: 2rem; }

.features-cards-img-container {
  margin-right: 0.8rem; }

.features-cards-img {
  width: 5rem;
  text-align: center;
  padding-top: 0.2rem; }

.features-cards-img--img {
  width: 35px; }

.features-cards-content-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem; }

.features-cards-content-paragraph {
  font-size: 1.3rem; }

.support-background {
  background-color: #010101; }

.support-header-container {
  text-align: center;
  margin: 0rem 1rem 2rem 1rem;
  padding-top: 3rem; }

.support-header-title {
  color: #fddb00;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem; }

.support-header-subtitle {
  text-align: center;
  color: #74746e;
  font-size: 1.6rem;
  line-height: 1.7rem; }

.input-container {
  text-align: center; }

.email-input {
  border-style: none;
  margin-right: 5px;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem 1rem 1.5rem; }

.submit-button {
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.2rem 2rem 1.2rem 2rem;
  background-color: #fddb00;
  cursor: pointer; }

.support-icons-container {
  text-align: center; }

.support-icons-img {
  width: 25px;
  margin: 4rem 0.5rem 4rem 0.5rem;
  cursor: pointer; }

.support-footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem; }

.support-footer-address {
  text-align: center; }
  .support-footer-address p {
    color: #a0a59a; }
  .support-footer-address .anchors {
    padding-top: 0.5rem; }
  .support-footer-address .anchors > a {
    text-decoration: none;
    color: #a0a59a; }

.support-footer-menu {
  display: flex; }
  .support-footer-menu section {
    margin: 1.3rem 1.5rem 0rem 1.5rem; }
  .support-footer-menu section > a {
    display: flex;
    text-decoration: none;
    color: #a0a59a;
    margin-bottom: 0.3rem; }
